@import './tailwind.css';

@font-face {
  font-family: AlfaSlabOne;
  src: url('../assets/fonts/AlfaSlabOne-Regular.ttf') format('truetype');
}

html,
body {
  @apply bg-green-800;
  height: 100%;
  font-family: AlfaSlabOne;
}

#root {
  height: 100%;
}
